<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="arte, galeria, fotos, pinturas, coleccion">
    <meta name="description" content="Galeria de arte">
    <link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon">
    <!-- Relacionar con archivo de estilos    -->
    <link rel="stylesheet" href="../css/randart.css" />
    <link rel="stylesheet" href="../css/crud.css" />
    <script src="https://kit.fontawesome.com/0a26ed8765.js" crossorigin="anonymous"></script>
    <title>CRUD</title>
</head>


<body>
    <header id="header">


        <div class="logo">
            <a href="../index.html">
                <img src="../images/Logo.png" alt="" />

                <span class="title">Randart</span>
            </a>
            <button id="abrir" class="abrir-menu"><i class="fa-solid fa-bars"></i></button>
            <button id="cerrar" class="cerrar-menu"><i class="fa-solid fa-x"></i></button>
        </div>


        <nav class="header-linea" id="menu">

            <ul>
                <li><a class="menu_link" href="../index.html"><img src="../images/Logo.png" alt="" />Inicio</a></li>
                <li><a class="menu_link" href="galeria.html"><img src="../images/Logo.png" alt="" />Galeria</a></li>
                <li><a class="menu_link" href="directorio.html"><img src="../images/Logo.png" alt="" />Directorio</a></li>
                <li><a class="menu_link" href="formulario.html"><img src="../images/Logo.png" alt="" />Contacto</a></li>
                <li><a class="menu_link" href="crud.html"><img src="../images/Logo.png" alt="" />CRUD</a></li>
            </ul>

        </nav>

    </header>
    <main id="main">

        <h1>Randart - Arte y colección al azar</h1>

        <p class="centered-paragraph">CRUD</p>
        <hr>

        <div id="app">

            <!-- Botón Nuevo (Azul) -->
            <!--<a class="nuevo" href="ingresar_persona.html">Nuevo</a>-->

            <section v-if="error">Lo sentimos se produjo un error</section>
            <section v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>

                </section>
                <section v-else>

                    <section class="contenedor">
                        <section class="seccion">
                            <h3>Artículos</h3>

                            <div class="container-form">

                                <form action="">
                                    <div class="entrada">
                                        <label for="articulo_id">ID</label>
                                        <input type="number" name="articulo_id" id="articulo_id" disabled>
                                        <label for="titulo">Título:</label>
                                        <input type="text" name="titulo" id="titulo">
                                        <label for="autor">Autor:</label>
                                        <input type="text" name="autor" id="autor">
                                        <label for="descripcion">Descripción:</label>
                                        <input type="text" name="descripcion" id="descripcion">
                                        <label for="precio">Precio:</label>
                                        <input type="text" name="precio" id="precio">
                                        <label for="imagen">Imagen:</label>
                                        <input type="text" name="imagen" id="imagen">
                                    </div>
                                </form>

                            </div>

                            <div class="botones">
                                <button class="guardar" type="button" onclick="articulo_save()">Guardar</button>
                                <button class="limpiar" type="button" onclick="articulo_clear()">Limpiar</button>
                            </div>

                            <table class="tabla">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Título</th>
                                        <th>Autor</th>
                                        <th>Descripción</th>
                                        <th>Precio</th>
                                        <th>Imagen</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr v-for="articulo in datos.articulos">
                                        <td>{{articulo.id}}</td>
                                        <td>{{articulo.titulo}}</td>
                                        <td>{{articulo.autor}}</td>
                                        <td>{{articulo.descripcion}}</td>
                                        <td>{{articulo.precio}}</td>
                                        <td>{{articulo.imagen}}</td>

                                        <td>
                                            <button class="delete" type="button"
                                                v-on:click="articulo_delete(articulo.id)">Eliminar</button>

                                            <button class="update" type="button"
                                                v-on:click="articulo_prepare(articulo.id,articulo.titulo,articulo.autor,articulo.descripcion,articulo.precio,articulo.imagen)">Editar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </section>
                        <section class="seccion">
                            <h3>Galerías</h3>

                            <div class="container-form">

                                <form action="">
                                    <div class="entrada">
                                        <label for="galeria_id">ID</label>
                                        <input type="number" name="galeria_id" id="galeria_id" disabled>
                                        <label for="razon_social">Razón Social:</label>
                                        <input type="text" name="razon_social" id="razon_social">
                                        <label for="mapa_url">URL del Mapa:</label>
                                        <input type="text" name="mapa_url" id="mapa_url">
                                        <label for="observaciones">Observaciones:</label>
                                        <input type="text" name="observaciones" id="observaciones">

                                    </div>
                                </form>

                            </div>

                            <div class="botones">
                                <button class="guardar" type="button" onclick="galeria_save()">Guardar</button>
                                <button class="limpiar" type="button" onclick="galeria_clear()">Limpiar</button>
                            </div>
                            <table class="tabla">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Razón Social</th>
                                        <th>URL del Mapa</th>
                                        <th>Observaciones</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr v-for="galeria in datos.galerias">
                                        <td>{{galeria.id}}</td>
                                        <td>{{galeria.razon_social}}</td>
                                        <td>{{galeria.mapa_url}}</td>
                                        <td>{{galeria.observaciones}}</td>

                                        <td>
                                            <button class="delete" type="button"
                                                v-on:click="galeria_delete(galeria.id)">Eliminar</button>
                                            <button class="update" type="button"
                                                v-on:click="galeria_prepare(galeria.id,galeria.razon_social,galeria.mapa_url,galeria.observaciones)">Editar</button>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </section>
                </section>
            </section>

        </div>

        <!--
			<div id="app">
				<section v-if="error">Lo sentimos se produjo un error</section>
				<section v-else>
					<section class="directorio" v-if="cargando">
						<div class="spinner-border"></div>
						<p>Cargando .....</p>
	
					</section>
					<section v-else>
						<article class="articulo">
							<img :src="articulo.imagen" alt="" />
							<div class="informacion">
							  <h2>{{articulo.titulo}}</h2>
							  <div><p><b>Autor:</b></p><p>{{articulo.autor}}</p></div>
							  <div><p><b>Descripción:</b></p><p class="descripcion">{{articulo.descripcion}}</p></div>
							  <div><p><b>Precio:</b></p><p class="precio"><b>U$S {{articulo.precio}}.- (ARS $ ${{articulo.precio*dolar}}.-)</b></p></div>
							  <button class="boton-comprar">Comprar</button>
							  <div><p><a href="galeria.html">Volver</a></p></div>
							</div>
						  </article>
	
						</section>
					</section>
				</section>
			</div>
			-->

    </main>
    <footer id="footer">

        <h3>Seguinos</h3>
        <ul class="seguinos">
            <li><a href="https://twitter.com/" class="icon brands style2 fa-twitter" target="_blank">
                    <span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/?locale=es_LA" class="icon brands style2 fa-facebook-f"
                    target="_blank">
                    <span class="label">Facebook</span></a></li>
            <li><a href="https://www.instagram.com/" class="icon brands style2 fa-instagram" target="_blank">
                    <span class="label">Instagram</span></a></li>
            <li><a href="mailto:nrmattar@gmail.com" class="icon solid style2 fa-envelope" target="_blank">
                    <span class="label">Email</span></a></li>
        </ul>
        <p class="copyright">&copy; Randart. Todos los derechos reservados</p>
    </footer>

    <script src="../js/menu.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/crud.js"></script>

</body>

</html>