<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="arte, galeria, fotos, pinturas, coleccion">
	<meta name="description" content="Galeria de arte">
	<link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
	<!-- Relacionar con archivo de estilos    -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	<link rel="stylesheet" href="/css/randart.css" />
	<link rel="stylesheet" href="/css/articulos.css" />
	<title>RANDART</title>
</head>


<body>
    <header id="header">
        
        
		<div class="logo">
			<a href="index.html">
			<img src="../images/logo.svg" alt="" />

			<span class="title">RANDART</span>
		</a>
			<button  id="abrir" class="abrir-menu"><i class="bi bi-list"></i></button>
			<button id="cerrar" class="cerrar-menu"><i class="bi bi-x"></i></button>
		</div>
   
	
	<nav class="header-linea" id="menu">
		
		<ul>
			<li> <a class="menu_link" href="/index.html">Inicio</a></li>
			<li><a class="menu_link" href="/templates/galeria.html">Galeria</a></li>
			<li><a class="menu_link" href="/templates/directorio.html">Directorio</a></li>
			<li><a class="menu_link" href="/templates/formulario.html">Contacto</a></li>
		</ul>

	</nav>

</header>
	<main id="main">


		<h1>Directorio de galerias de arte Randart</h1>
		<p>¿Qué estás esperando para exponer tus obras?</p>

		<section class="directorio">
			<article>
				<span>
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.2079097982073!2d-58.446152924957396!3d-34.59890377295599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca0ba30426b3%3A0xcc4c738ba314fc84!2sGurruchaga%20301%2C%20C1414%20DHG%2C%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1694811996828!5m2!1ses!2sar"
						width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
				</span>
				<h2>Selvanegra</h2>
				<div>
					<p>Gurruchaga 301, Villa Crespo. De miércoles a sábado de 15:30 a 19:30 h.</p>
				</div>

			</article>
			<article>
				<span>
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.218759801957!2d-58.374999124957455!3d-34.59862937295602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccacb47e10f27%3A0x38553ab3f0c8a29c!2sAv.%20C%C3%B3rdoba%20380%2C%20C1054AAP%20CABA!5e0!3m2!1ses!2sar!4v1694812035754!5m2!1ses!2sar"
						width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
				</span>
				<h2>Mite </h2>
				<div>
					<p>Av. Córdoba 380, Retiro. De martes a viernes de 15 a 20 h.</p>
				</div>

			</article>
			<article>
				<span>
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.1688657487175!2d-58.37477172069058!3d-34.62517270319127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a334cd12e0eae9%3A0xb9bfac18b72b57d2!2sAv.%20Brasil%20301%2C%20C1143%20AAC%2C%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1694812139947!5m2!1ses!2sar"
						width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
				</span>
				<h2>El Mirador</h2>
				<div>
					<p>Av. Brasil 301, San Telmo. Martes y jueves de 15 a 19 h.</p>
				</div>

			</article>
			<article>
				<span>
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.508862702976!2d-58.44546062495785!3d-34.591291872958706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5f48adb7655%3A0xb0fcb0409e90420c!2sJuan%20Ram%C3%ADrez%20de%20Velasco%201287%2C%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1694812168232!5m2!1ses!2sar"
						width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
				</span>
				<h2>Ruth Benzacar</h2>
				<div>
					<p>Juan Ramírez de Velasco 1287, Villa Crespo. De martes a sábado de 14 a 19 h.</p>
				</div>

			</article>
			<article>
				<span>
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.859416981056!2d-58.425172224958224!3d-34.582423572961886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb58386e48511%3A0xfdae61d83418e6c3!2sG%C3%BCemes%204474%2C%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1694812190686!5m2!1ses!2sar"
						width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
				</span>
				<h2>Quimera</h2>
				<div>
					<p>Güemes 4474, Palermo. De martes a viernes de 15 a 20 h y sábados con cita previa.</p>
				</div>

			</article>
			<article>
				<span>
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.8903912623923!2d-58.46418062495699!3d-34.6069330729532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca026a890f61%3A0xb33598b548aaec!2sAv.%20Juan%20Bautista%20Justo%204328%2C%20C1416DJX%20CABA!5e0!3m2!1ses!2sar!4v1694812213498!5m2!1ses!2sar"
						width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
				</span>
				<h2>El Local</h2>
				<div>
					<p>Avenida Juan B. Justo 4328, La Paternal. De miércoles a sábados de 16 a 20 h.</p>
				</div>

			</article>
			<article>
				<span>
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.39370175804!2d-58.44427882495764!3d-34.594204772957795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5f5687618cd%3A0x4c2712ac7fa12229!2sThames%20608%2C%20C1414DCN%20CABA!5e0!3m2!1ses!2sar!4v1694812345801!5m2!1ses!2sar"
						width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
				</span>
				<h2>Moria </h2>
				<div>
					<p>Thames 608, Villa Crespo. De jueves a sábados de 16 a 20 h..</p>
				</div>

			</article>
			<article>
				<span>
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.777660685496!2d-58.40629392495692!3d-34.609783372952045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaee6796f3b9%3A0xab64aa015decf476!2sAv.%20Rivadavia%202625%2C%20C1034%20CABA!5e0!3m2!1ses!2sar!4v1694812290531!5m2!1ses!2sar"
						width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
				</span>
				<h2>Piedras</h2>
				<div>
					<p>Av. Rivadavia 2625, piso 4, Balvanera. De jueves a sábado de 15 a 19 h.</p>
				</div>

			</article>
			<article>
				<span>
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.6533514860585!2d-58.364983824955345!3d-34.638199372941926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a334b0e7b59ff9%3A0x2d0507e225e606d9!2sDr.%20del%20Valle%20Iberlucea%201140%2C%20C1140%20CABA!5e0!3m2!1ses!2sar!4v1694812378620!5m2!1ses!2sar"
						width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
				</span>
				<h2>Constitución</h2>
				<div>
					<p>Del Valle Iberlucea 1140, La Boca. Sábados de 15 a 20 h u otro día con cita previa.</p>
				</div>

			</article>
		</section>

	</main>
    <footer id="footer">
        <h3>Seguinos</h3>
        <ul class="seguinos">
            <li><a href="https://twitter.com/" class="icon brands style2 fa-twitter">
                    <span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/?locale=es_LA" class="icon brands style2 fa-facebook-f">
                    <span class="label">Facebook</span></a></li>
            <li><a href="https://www.instagram.com/" class="icon brands style2 fa-instagram">
                    <span class="label">Instagram</span></a></li>
            <li><a href="mailto:nrmattar@gmail.com" class="icon solid style2 fa-envelope">
                    <span class="label">Email</span></a></li>
        </ul>
        <p class="copyright">&copy; Randart. Todos los derechos reservados</p>
    </footer>
	<script src="/js/menu.js"></script>
</body>

</html>